body {
    background-color: #1bb8b888;
    color: #200cd3ce;
    font-family: Georgia, serif;
}
h1 {
    color: #1f2937;
    font-size: 40px;
}

.section {
    background-color: white;
}

#Perfil {
    background-color: #2c5092;
}

